<!-- This one could have the logic to show the users articles? -->
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gaming Tech Blog!</title>
  <link rel="stylesheet" href="/css/jass.css">
  {{!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a id="site-title" href="/">The Gaming Tech Blog</a>
      </h1>
      <nav>
        <a id="home-btn" href="/">Home</a>
        <a id="dashboard-btn" href="/dashboard">Dashboard</a>
        <button class="no-button" id="logout">logout</button>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the users Articles as HTML -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>
</body>

</html>