#site-title:hover {
  color: rgb(40, 145, 40);
}

#home-btn:hover {
  color: rgb(40, 145, 40);
}

#dashboard-btn:hover {
  color: rgb(40, 145, 40);
}

#login-btn:hover {
  color: rgb(40, 145, 40);
}

